<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body class="<%= bodyClass %>">
    <%- include('./partials/header') -%>
    <main>
      <div class="container-fluid game px-0" itemscope itemtype="http://schema.org/Game">
        <div class="container <% if (board != '') { %>px-3 pb-0 pt-3<% } else { %>p-3<% } %>">
          <audio id="nuoc-co">
            <source src="/public/sound/nuocCo.mp3" type="audio/mpeg">
            <source src="/public/sound/nuocCo.wav" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
          <audio id="het-tran">
            <source src="/public/sound/hetTran.mp3" type="audio/mpeg">
            <source src="/public/sound/hetTran.wav" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
          <% if (board != '') { %>
          <p class="w-100 text-center">
            <a id="capture" class="btn btn-dark btn-lg" href="javascript:void(0);"><i class="fal fa-camera"></i> Capture the board</a>
          </p>
          <% } %>
          <div id="chess-board" class="w-50 mx-auto"></div>
          <p class="w-100 text-center my-3">
            <span class="d-inline-block rounded" id="game-status"></span>
          </p>
          <p class="w-100 text-center mt-2">
            <span class="rounded d-none" id="game-over" data-toggle="tooltip" data-placement="top" data-original-title="Press 'Host a Room' to play with real person"><i class="fad fa-flag-checkered"></i> GAME OVER</span>
          </p>
          <%+ yield('aboveContent') %>
          <div class="row">
            <input type="hidden" name="FEN" id="FEN" />
            <input type="hidden" name="piecesUrl" id="piecesUrl" value="" />
            <%- include('./partials/scripts') -%>
            <%+ yield('belowContent') %>
            <% if (board == '') { %>
            <p class="w-100 text-center mt-2">
              <a id="share-board" class="text-dark mx-auto btn btn-light btn-lg py-2" href="/board/"><i class="fad fa-share"></i> Share board</a>
            </p>
            <script>
            $('#share-board').on('click', function(){
              $(this).attr('href', $(this).attr('href') + game.fen());
            });
            </script>
            <% } else { %>
            <h3 class="mx-auto text-center my-2 d-block w-100">Who goes first?</h3>
            <p class="w-100 text-center mt-2">
              <a id="white-first" class="w-25 btn btn-light btn-lg text-dark" href="/board/"><i class="fad fa-chess-clock-alt"></i> White</a>
              <a id="black-first" class="w-25 btn btn-dark btn-lg" href="/board/"><i class="fad fa-chess-clock"></i> Black</a>
            </p>
            <script>
            $('#white-first').on('click', function(){
              $(this).attr('href', $(this).attr('href') + board.fen() + ' w - - 0 1');
            });
            $('#black-first').on('click', function(){
              $(this).attr('href', $(this).attr('href') + board.fen() + ' b - - 0 1');
            });
            </script>
            <% } %>
          </div>
        </div>
      </div>
      <%- include('./partials/rules') -%>
      <%- include('./partials/adsense') -%>
    </main>
    <%- include('./partials/footer') -%>
  </body>
</html>